@charset "utf-8";
@media screen and (max-width: 375px) {
main{
    width: 375px;
}
.hd-menu{
  display: none;

}
.ser1-img{
  display: none;
}
.ser2-img{
  display: none;
}
  }
.ser3-img {
  display: none;
}
.ft-menu{
  display: none;
}



@media screen and (max-width: 1024px) {
  .inner {
    padding: 0 20px;
    padding-bottom: 20px;
    /* background-color: aqua; */
    max-width: 760px;
    border-bottom: 8px solid #f0f4f4;
  }
}