@charset "utf-8";
/* @media screen and (max-width: 1280px) {
  .inner {
    max-width: 1024px;
  }
} */
@media screen and (max-width: 1570px) {
}
/* =============================================== */
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 375px) {
  a {
    text-decoration: none;
    font-family: "Pretendard-Regular";
  }
  ul {
    list-style: none;
  }

  header {
    background-color: #fff;
    width: 100%;
    height: 10%;

    padding: calc(20px * 0.6) calc(40px * 0.6);
    display: flex;
    border-bottom: 0.1px solid #eef0f7;
    position: fixed;
    z-index: 9999;
  }
  .hd-logo {
    padding: 10px 0px;
    display: inline;
    float: left;
  }
  .hd-logo img {
    width: calc(110px * 0.6);
  }

  .hd-menu {
    width: 60%;
    position: absolute;
    display: flex;
    justify-content: space-around;
  }
  .hd-menu li {
    display: inline-block;
    font-size: calc(20px * 0.6);
  }

  .hd-menu li a {
    color: #000;
    white-space: nowrap;
  }
  .hd-menu li:nth-child(2) a {
    color: #3250ff;
    font-weight: bold;
  }

  .ser-con > .div {
    width: 100%;
    /* background-color: #e1c4c4; */
    padding: calc(100px * 0.6) calc(100px * 0.4);
  }
  .text {
    /* width: 45%; */
    /* background-color: aqua; */
    float: left;

    /* display: block; */
    overflow: ellipsis;
    white-space: wrap;
  }
  .text span {
    font-family: "Pretendard-Regular";
    color: #3250ff;
    font-size: calc(18px * 0.6);
    font-weight: bold;
    background-color: #d6dcff;
    border-radius: 40px;
    padding: calc(10px * 0.6) calc(15px * 0.6);
  }
  .text h2 {
    font-family: "Pretendard-Regular";
    font-size: calc(36px * 0.6);
    color: #000;
    line-height: 35px;
    margin-top: 20px;
  }
  .text h3 {
    font-family: "Pretendard-Regular";
    font-size: calc(22px * 0.6);
    color: #495057;
    line-height: 20px;
    margin-top: 30px;
  }
  .btn {
    margin: calc(60px * 0.6) 0;
    background-color: #3250ff;
    color: #fff;
    display: inline-block;
    padding: calc(10px * 0.6) calc(15px * 0.6);
    border-radius: 5px;
  }
  .btn a {
    color: #fff;
  }

  .ser1 {
    /* background-color: #7383db; */
  }
  .ser1-tx {
    width: 100%;
    padding-top: calc(190px * 0.6);
    text-align: center;

    /* background-color: antiquewhite; */
  }

  .ser1-img {
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    padding-top: calc(50px * 0.6);
    padding-left: calc(80px * 0.6);
    /* text-align: right; */
    display: none;
  }
  .goal1 {
    height: calc(180px * 0.6);
  }
  .goal2 {
    height: calc(230px * 0.6);
  }
  .goal3 {
    height: calc(230px * 0.6);
  }
  .ser2 {
  }

  .ser2-tx {
    width: 100%;
    padding-top: calc(190px * 0.6);
    position: absolute;
    /* background-color: antiquewhite; */
  }
}

.ser2-img {
  display: none;
}
.ser2-tx img {
  /* margin-bottom: 50px; */
  height: 45px;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
}

.rou-img1 {
  height: calc(700px * 0.6);

  position: absolute;
  top: 10%;
  left: 8%;
  z-index: 5555;
}
.rou-img2 {
  width: 80%;
  position: absolute;
  left: 12%;
  top: 40%;
}
.rou-img3 {
  width: calc(250px * 0.6);
  position: absolute;
  top: 30%;
  right: 2%;
}
.ser3 {
  /* background-color: #b2b7d3; */
  width: 100%;
  text-align: center;
}

.ser3 .text {
  width: 100%;
  text-align: center;
  /* background-color: antiquewhite; */
}

.ser3-img {
  display: none;
}
/* ==============================================스와이퍼 */
.swiper {
  width: 100%;
  height: 100%;
  /* background-color: rgb(218, 244, 193); */
}
.swiper img {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #3250ff;
}
/*=============================================== 스와이퍼 */

footer {
  background-color: #eef0f7;
  width: 100%;
  height: calc(300px * 0.6);
  position: relative;
  padding: 40px 30px;
  display: flex;
}

footer p {
  font-size: calc(16px * 0.6);

  /* background-color: blueviolet; */
  /* float: left; */
  top: calc(50px * 0.6);
  left: 0px;
  font-family: "Pretendard-Regular";
  line-height: calc(16px * 0.6);
  color: #868e96;
}
.ft-menu {
  width: 60%;
  font-size: calc(16px * 0.6);
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: calc(20px * 0.6);
  position: absolute;
  top: 90px;
  left: 30px;
}
.ft-menu a {
  color: #495057;
}
